body {
	padding:20px 10px;
	font-family: Helvetica;
	max-width: 200px;
	margin: 0 auto;
	font-size: 1.6em
}

h1 {
	text-align: center;
	color: black;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: none;
}

li {
	font-size: 1.2em;
	line-height: 2em
}

.lesson {
	background-color: #54D4F4;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

h2 {
	margin: 10px;
}

.concept {
	background-color:#0066CC ;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: white;
}

.concept-title {
	font-size: 1.6em;
	margin: 8px;
	text-align: center;
	color: #d0ad19;
}

.concept-description {
	font-weight: lighter;
	font-size: 1.2em;
	margin: 6px;
}

